<link rel="stylesheet" href="modaal.min.css">
<script src="modaal.min.js"></script>
<div id="service-show">
	<%= render partial: "common/left-sidebar",locals: { feed_contents: @feed_contents } %>
	<div class="service-show">
		<div class="service-info">
			<%= attachment_image_tag @service, :service_image, :fill,600,300, class: "service-img" %>
			<div class="service-contents">
				<h3 class="service-name"><%= @service.service_name %></h3>
				<div class="service-tags">
					<% @service.tag_list.each do |tag| %>
						<%=link_to tag, "#", class: "service-tag" %>
					<% end %>
				</div>
				<div class="service-comment-star">
					<i class="far fa-comment"><%= @service.goodcount %></i>
    				<i class="far fa-star"><%= @service.favorites.size %></i>
				</div>
				<div class="goodbad-line">
   					<i class="far fa-thumbs-up"></i>
   					<div class="goodbad-graph">
    					<span class="good-point" style="width:<%= @good_ratio %>%;"><%= @good_ratio %>%</span>
    				</div>
    				<i class="far fa-thumbs-down"></i>
    			</div>
    			<table class="service-contents-table">
    				<tbody>
    				<tr>
    					<td class="table-left">リリース日</td>
    					<td class="table-right">2018/11/11</td>
    				</tr>
    				<tr>
    					<td class="table-left">サービスページ</td>
    					<td class="table-right">
    						<%=link_to @service.related_link do %>
    							<a href="<%= @service.related_link %>"><%= @service.related_link %></a>
    						<% end %>
    					</td>
    				</tr>
    				<tr>
    					<td class="table-left">運営会社</td>
    					<td class="table-right">
    						<%= @service.service_campany %>
    					</td>
    				</tr>
    				<tr>
    					<td class="table-left">サービス概要</td>
    					<td class="table-right">
							<%= @service.service_summary %>
    					</td>
    				</tr>
    				<tr>
    					<td class="table-left">関連リンク</td>
    					<td class="table-right">
    						<a href="https://choice-dinner.herokuapp.com/"></a>https://choice-dinner.herokuapp.com/
    					</td>
    				</tr>
    				</tbody>
    			</table>
			</div>
		</div>
		<div class="split"></div>
		<div class="evaluation-box">
			<table class="evaluation-table">
				<tr>
					<th>評価</th>
					<th>お気に入り</th>
					<th>シェアする</th>
				</tr>
				<tr>
					<td><% if @service.gooded_by?(current_user) %>
							<%= link_to service_goods_path(@service), method: :delete do  %>
							<i class="fas fa-thumbs-up" style="color: black;"></i>
							<% end %>
						<% else %>
							<%= link_to service_goods_path(@service), method: :post do  %>
							<i class="far fa-thumbs-up" ></i>
							<% end %>
						<% end %>
						<% if @service.baded_by?(current_user) %>
							<%= link_to service_bads_path(@service), method: :delete do  %>
							<i class="fas fa-thumbs-down" style="color: black;"></i>
							<% end %>
						<% else %>
							<%= link_to service_bads_path(@service), method: :post do  %>
							<i class="far fa-thumbs-down" ></i>
							<% end %>
						<% end %>
					</td>
					<td>
						<% if @service.favorited_by?(current_user) %>
							<%= link_to service_favorites_path(@service), method: :delete do %>
							<i class="fas fa-star" style="color: #FFD700	;"></i>
							<% end %>
						<% else %>
							<%= link_to service_favorites_path(@service), method: :post do %>
							<i class="far fa-star"></i>
							<% end %>
						<% end %>
					</td>
					<td>
						<a href="#" class="fas fa-copy"></a>
						<a href="https://www.facebook.com/share.php?url=<%= request.url %>" rel="nofollow" target="_blank" class="fab fa-facebook"></a>
						<a href="https://twitter.com/share?url=<%= request.url %>&text=『<%=@service.service_name%>』について議論しよう" rel="nofollow" target="_blank" class="fab fa-twitter-square"></a>
					</td>
				</tr>
			</table>
			<a href="#modal" class="btn btn-lg btn-block comment-btn-modal">コメントする</a>
			<div id="modal" style="display:none;">
				<p class="modal-service-subtitle">匿名サービスレビュープラットフォーム</p>
				<h3 class="modal-service-title">ServiceHub</h3>
				<%= form_for([@service, @comment_new]) do |f| %>
					            <%= f.text_area :comment_content, rows:'5', class: "form-control",placeholder: "何者でもないあなたの,サービスに対する気まぐれな意見を,記入する" %>
					            <%= f.submit "送信する", class: "btn btn-lg btn-block comment-btn" %>
				<% end %>
			</div>
		</div>
		<div class="split"></div>
		<div class="comment-service">
			<div class="service-topic-comment">
				<h3 class="topic-comment-section">話題のコメント</h3>
				<% @comment_trend.each do |comment| %>
				<div class="topic-comment-box clearfix">
					<div class="topic-comment-box-left">
						<h5 class="commenter-role"><%= comment.user.status.status_name %></h5>
						<p class="comment-number"><%= comment.id %></p>
					</div>
					<div class="topic-comment-box-right">
						<h6 class="commenter-id"><%= comment.user.id %></h6>
						<p class="comment-time-ago"><%= time_ago_in_words(comment.created_at) %> ago</p>
						<div class="commenter-comment"><%= comment.comment_content %></div>
						<div class="comment-reaction">
							<i class="fas fa-reply rep-icon"> 33
							</i>
							<% if comment.comment_gooded_by?(current_user) %>
								<%= link_to service_comment_good_comments_path(@service.id, comment), method: :delete do %>
									<i class="fas fa-thumbs-up" style="color:black;"></i>
									<%= comment.good_comments.count %>
								<% end %>
							<% else %>
								<%= link_to service_comment_good_comments_path(@service.id, comment), method: :post do %>
									<i class="far fa-thumbs-up"></i>
									<%= comment.good_comments.count %>
								<% end %>
							<% end %>

							<% if comment.comment_baded_by?(current_user) %>
								<%= link_to service_comment_bad_comments_path(@service.id, comment), method: :delete do %>
									<i class="fas fa-thumbs-down" style="color:black;"></i>
									<%= comment.bad_comments.count %>
								<% end %>
							<% else %>
								<%= link_to service_comment_bad_comments_path(@service.id, comment), method: :post do %>
									<i class="far fa-thumbs-down"></i>
									<%= comment.bad_comments.count %>
								<% end %>
							<% end %>
							<div class="comment-comment-box" id="<%= comment.id %>javascriptBox">
								<%= form_for [@service, @comment_new] do |f| %>
									<%= f.text_field :comment_content, class: "form-control comment-for-comment-form",placeholder: "返信を追加..." %>
	        	   					<%= f.hidden_field :reply_comment, :value => comment.id  %>
	           			   			<%= f.submit "返信する", class: "btn" %>
	            				   	<% end %>
							</div>
						</div>
					</div>
					<% @comments_for_comment.where(reply_comment: comment.id).each do |comment_for_comment| %>
					<div class="topic-comment-box-for-comment clearfix">
						<div class="topic-comment-box-left-for-comment">
							<h5 class="commenter-role">
								<%= comment_for_comment.user.status.status_name %>
							</h5>
							<p class="comment-number"><%= comment_for_comment.id %></p>
						</div>
						<div class="topic-comment-box-right-for-comment">
							<h6 class="commenter-id"><%= comment_for_comment.user.id %></h6>
							<p class="comment-time-ago"><%= time_ago_in_words(comment_for_comment.created_at) %> ago</p>
							<div class="commenter-comment"><%= comment_for_comment.comment_content %>コメントに対するコメントです。</div>
							<div class="comment-reaction">
								<% if comment_for_comment.comment_gooded_by?(current_user) %>
									<%= link_to service_comment_good_comments_path(@service.id, comment_for_comment), method: :delete do %>
										<i class="fas fa-thumbs-up" style="color:black;"></i>
										<%= comment_for_comment.good_comments.size %>
									<% end %>
								<% else %>
									<%= link_to service_comment_good_comments_path(@service.id, comment_for_comment), method: :post do %>
										<i class="far fa-thumbs-up"></i>
										<%= comment_for_comment.good_comments.size %>
									<% end %>
								<% end %>

								<% if comment_for_comment.comment_baded_by?(current_user) %>
									<%= link_to service_comment_bad_comments_path(@service.id, comment_for_comment), method: :delete do %>
										<i class="fas fa-thumbs-down" style="color:black;"></i>
										<%= comment_for_comment.bad_comments.size %>
									<% end %>
								<% else %>
									<%= link_to service_comment_bad_comments_path(@service.id, comment_for_comment), method: :post do %>
									<i class="far fa-thumbs-down"></i>
									<%= comment_for_comment.bad_comments.count %>
									<% end %>
								<% end %>
							</div>
						</div>
					</div>
					<% end %>
				</div>
				<% end %>
			</div>
			<div class="service-topic-comment">
				<h3 class="topic-comment-section">新着コメント</h3>
				<% @comments_latest.each do |comment_latest| %>
				<div class="topic-comment-box clearfix">
					<div class="topic-comment-box-short clearfix">
						<div class="topic-comment-box-left">
							<h5 class="commenter-role">
							<%= comment_latest.user.status.status_name %>
							</h5>
							<p class="comment-number"><%= comment_latest.id %></p>
						</div>
						<div class="topic-comment-box-right">
							<h6 class="commenter-id"><%= comment_latest.user.id %></h6>
							<p class="comment-time-ago"><%= time_ago_in_words(comment_latest.created_at) %> ago ago</p>
							<div class="commenter-comment"><%= comment_latest.comment_content %></div>
							<div class="comment-reaction">
									<i class="fas fa-reply rep-icon">33</i>
								<% if comment_latest.comment_gooded_by?(current_user) %>
									<%= link_to service_comment_good_comments_path(@service.id, comment_latest), method: :delete do %>
										<i class="fas fa-thumbs-up" style="color:black;"></i>
										<%= comment_latest.good_comments.size %>
									<% end %>
								<% else %>
									<%= link_to service_comment_good_comments_path(@service.id, comment_latest), method: :post do %>
										<i class="far fa-thumbs-up"></i>
										<%= comment_latest.good_comments.size %>
									<% end %>
								<% end %>

								<% if comment_latest.comment_baded_by?(current_user) %>
									<%= link_to service_comment_bad_comments_path(@service.id, comment_latest), method: :delete do %>
										<i class="fas fa-thumbs-down" style="color:black;"></i>
										<%= comment_latest.bad_comments.size %>
									<% end %>
								<% else %>
									<%= link_to service_comment_bad_comments_path(@service.id, comment_latest), method: :post do %>
										<i class="far fa-thumbs-down"></i>
										<%= comment_latest.bad_comments.size %>
									<% end %>
								<% end %>
									<div class="comment-comment-box" id="<%= comment_latest.id %>javascriptBox">
										<%= form_for [@service, @comment_new] do |f| %>
											<%= f.text_field :comment_content, class: "form-control comment-for-comment-form",placeholder: "返信を追加..." %>
	        	       						<%= f.hidden_field :reply_comment, :value => comment_latest.id  %>
	            				   			<%= f.submit "返信する", class: "btn" %>
	            				   		<% end %>
									</div>
							</div>
						</div>
					</div>

					<!-- -------コメントに対するコメントの部分------ -->
					<% @comments_for_comment.where(reply_comment: comment_latest.id).each do |comment| %>
					<div class="topic-comment-box-for-comment clearfix">
						<div class="topic-comment-box-left-for-comment">
							<h5 class="commenter-role">
								<%= comment.user.status.status_name %>
							</h5>
							<p class="comment-number"><%= comment.id %></p>
						</div>
						<div class="topic-comment-box-right-for-comment">
							<h6 class="commenter-id"><%= comment.user.id %></h6>
							<p class="comment-time-ago"><%= time_ago_in_words(comment.created_at) %> ago</p>
							<div class="commenter-comment"><%= comment.comment_content %></div>
							<div class="comment-reaction">
								<% if comment.comment_gooded_by?(current_user) %>
									<%= link_to service_comment_good_comments_path(@service.id, comment), method: :delete do %>
										<i class="fas fa-thumbs-up" style="color:black;"></i>
										<%= comment.good_comments.size %>
									<% end %>
								<% else %>
									<%= link_to service_comment_good_comments_path(@service.id, comment), method: :post do %>
										<i class="far fa-thumbs-up"></i>
										<%= comment.good_comments.size %>
									<% end %>
								<% end %>

								<% if comment.comment_baded_by?(current_user) %>
									<%= link_to service_comment_bad_comments_path(@service.id, comment), method: :delete do %>
										<i class="fas fa-thumbs-down" style="color:black;"></i>
										<%= comment.bad_comments.size %>
									<% end %>
								<% else %>
									<%= link_to service_comment_bad_comments_path(@service.id, comment), method: :post do %>
									<i class="far fa-thumbs-down"></i>
									<%= comment.bad_comments.count %>
									<% end %>
								<% end %>
							</div>
						</div>
					</div>
					<% end %>
				</div>
				<% end %>
			</div>
		</div>
	</div>
	<%= render partial: "common/right-sidebar",locals: { services: @services } %>
</div>

<script src="/javascripts/skippr.min.js"></script>

