<link rel="stylesheet" href="modaal.min.css">
<script src="modaal.min.js"></script>
<div id="service-show">
	<div class="left-sidebar"></div>
	<div class="service-show">
		<div class="service-info">
			<%= attachment_image_tag @service, :service_image, :fill,600,300, class: "service-img" %>
			<div class="service-contents">
				<h3 class="service-name"><%= @service.service_name %></h3>
				<div class="service-tags">
					<% @service.tag_list.each do |tag| %>
						<%=link_to tag, "#", class: "service-tag" %>
					<% end %>
					<!-- <a class="service-tag">インフルエンサーマーケ</a> -->
				</div>
				<div class="service-comment-star">
					<i class="far fa-comment">20</i>
    				<i class="far fa-star">100</i>
				</div>
				<div class="goodbad-line">
   					<i class="far fa-thumbs-up"></i>
   					<div class="goodbad-graph">
    					<span class="good-point" style="width:70%;">70%</span>
    				</div>
    				<i class="far fa-thumbs-down"></i>
    			</div>
    			<table class="service-contents-table">
    				<tbody>
    				<tr>
    					<td class="table-left">リリース日</td>
    					<td class="table-right">2018/11/11</td>
    				</tr>
    				<tr>
    					<td class="table-left">サービスページ</td>
    					<td class="table-right">
    						<%= @service.related_link %>
    					</td>
    				</tr>
    				<tr>
    					<td class="table-left">運営会社</td>
    					<td class="table-right">
    						<%= @service.service_campany %>
    					</td>
    				</tr>
    				<tr>
    					<td class="table-left">サービス概要</td>
    					<td class="table-right">
							<%= @service.service_summary %>
    					</td>
    				</tr>
    				<tr>
    					<td class="table-left">関連リンク</td>
    					<td class="table-right">
    						<a href="https://choice-dinner.herokuapp.com/"></a>https://choice-dinner.herokuapp.com/
    					</td>
    				</tr>
    				</tbody>
    			</table>
			</div>
		</div>
		<div class="split"></div>
		<div class="evaluation-box">
			<table class="evaluation-table">
				<tr>
					<th>評価</th>
					<th>お気に入り</th>
					<th>シェアする</th>
				</tr>
				<tr>
					<td>
						<a href="#" class="far fa-thumbs-up"></a><a href="#" class="far fa-thumbs-down"></a>
					</td><a href="#" class="far fa-star"></a></td>
					<td><a href="#" class="fas fa-copy"></a><a href="#" class="fab fa-twitter-square"></a><a href="#" class="fab fa-facebook"></a></td>
				</tr>
			</table>
			<a href="#modal" class="btn btn-lg btn-block comment-btn">コメントする</a>
			<div id="modal" style="display:none;">
				<p class="modal-service-subtitle">匿名サービスレビュープラットフォーム</p>
				<h3 class="modal-service-title">ServiceHub</h3>
				<%= form_for([@service, @comment_new]) do |f| %>
					            <%= f.text_area :comment_content, rows:'5', class: "form-control",placeholder: "何者でもないあなたの,サービスに対する気まぐれな意見を,記入する" %>
					            <%= f.submit "送信する", class: "btn btn-lg btn-block comment-btn" %>
				<% end %>
			</div>
		</div>
		<div class="split"></div>
		<div class="comment-service">
			<div class="service-topic-comment">
				<h3 class="topic-comment-section">話題のコメント</h3>
				<div class="topic-comment-box clearfix">
					<div class="topic-comment-box-left">
						<h5 class="commenter-role">フリーター</h5>
						<p class="comment-number">5</p>
					</div>
					<div class="topic-comment-box-right">
						<h6 class="commenter-id">asdanj3813</h6>
						<p class="comment-time-ago">1h ago</p>
						<div class="commenter-comment">どこで生れたかとんと見当けんとうがつかぬ。何でも薄暗いじめじめした所でニャーニャー泣いていた事だけは記憶している。吾輩はここで始めて人間というものを見た。しかもあとで聞くとそれは書生という人間中で一番獰悪どうあくな種族であったそうだ。この書生というのは時々我々を捕つかまえて煮にて食うという話である。しかしその当時は何という考もなかったから別段恐しいとも思わなかった。ただ彼の掌てのひらに載せられてスーと持ち上げられた時何だかフワフワした感じがあったばかりである。</div>
						<div class="comment-reaction">
							<i class="fas fa-reply rep-icon"> 33</i><a href="#" class="far fa-thumbs-up">300</a><a href="#" class="far fa-thumbs-down">50</a><a href="#" class="re-react-btn">返信する</a>

						</div>
					</div>
				</div>
				<div class="topic-comment-box clearfix">
					<div class="topic-comment-box-left">
						<h5 class="commenter-role">フリーター</h5>
						<p class="comment-number">5</p>
					</div>
					<div class="topic-comment-box-right">
						<h6 class="commenter-id">asdanj3813</h6>
						<p class="comment-time-ago">1h ago</p>
						<div class="commenter-comment">どこで生れたかとんと見当けんとうがつかぬ。何でも薄暗いじめじめした所でニャーニャー泣いていた事だけは記憶している。吾輩はここで始めて人間というものを見た。しかもあとで聞くとそれは書生という人間中で一番獰悪どうあくな種族であったそうだ。この書生というのは時々我々を捕つかまえて煮にて食うという話である。しかしその当時は何という考もなかったから別段恐しいとも思わなかった。ただ彼の掌てのひらに載せられてスーと持ち上げられた時何だかフワフワした感じがあったばかりである。</div>
						<div class="comment-reaction">
							<i class="fas fa-reply rep-icon"> 33</i><a href="#" class="far fa-thumbs-up">300</a><a href="#" class="far fa-thumbs-down">50</a><a href="#" class="re-react-btn">返信する</a>

						</div>
					</div>
				</div>
			</div>
			<div class="service-topic-comment">
				<h3 class="topic-comment-section">新着コメント</h3>
				<div class="topic-comment-box clearfix">
					<div class="topic-comment-box-left">
						<h5 class="commenter-role">フリーター</h5>
						<p class="comment-number">5</p>
					</div>
					<div class="topic-comment-box-right">
						<h6 class="commenter-id">asdanj3813</h6>
						<p class="comment-time-ago">1h ago</p>
						<div class="commenter-comment">どこで生れたかとんと見当けんとうがつかぬ。何でも薄暗いじめじめした所でニャーニャー泣いていた事だけは記憶している。吾輩はここで始めて人間というものを見た。しかもあとで聞くとそれは書生という人間中で一番獰悪どうあくな種族であったそうだ。この書生というのは時々我々を捕つかまえて煮にて食うという話である。しかしその当時は何という考もなかったから別段恐しいとも思わなかった。ただ彼の掌てのひらに載せられてスーと持ち上げられた時何だかフワフワした感じがあったばかりである。</div>
						<div class="comment-reaction">
							<i class="fas fa-reply rep-icon"> 33</i><a href="#" class="far fa-thumbs-up">300</a><a href="#" class="far fa-thumbs-down">50</a><a href="#" class="re-react-btn">返信する</a>

						</div>
					</div>
				</div>
				<div class="topic-comment-box clearfix">
					<div class="topic-comment-box-left">
						<h5 class="commenter-role">フリーター</h5>
						<p class="comment-number">5</p>
					</div>
					<div class="topic-comment-box-right">
						<h6 class="commenter-id">asdanj3813</h6>
						<p class="comment-time-ago">1h ago</p>
						<div class="commenter-comment">どこで生れたかとんと見当けんとうがつかぬ。何でも薄暗いじめじめした所でニャーニャー泣いていた事だけは記憶している。吾輩はここで始めて人間というものを見た。しかもあとで聞くとそれは書生という人間中で一番獰悪どうあくな種族であったそうだ。この書生というのは時々我々を捕つかまえて煮にて食うという話である。しかしその当時は何という考もなかったから別段恐しいとも思わなかった。ただ彼の掌てのひらに載せられてスーと持ち上げられた時何だかフワフワした感じがあったばかりである。</div>
						<div class="comment-reaction">
							<i class="fas fa-reply rep-icon"> 33</i><a href="#" class="far fa-thumbs-up">300</a><a href="#" class="far fa-thumbs-down">50</a><a href="#" class="re-react-btn">返信する</a>

						</div>
					</div>
				</div>
				<div class="topic-comment-box clearfix">
					<div class="topic-comment-box-left">
						<h5 class="commenter-role">フリーター</h5>
						<p class="comment-number">5</p>
					</div>
					<div class="topic-comment-box-right">
						<h6 class="commenter-id">asdanj3813</h6>
						<p class="comment-time-ago">1h ago</p>
						<div class="commenter-comment">どこで生れたかとんと見当けんとうがつかぬ。何でも薄暗いじめじめした所でニャーニャー泣いていた事だけは記憶している。吾輩はここで始めて人間というものを見た。しかもあとで聞くとそれは書生という人間中で一番獰悪どうあくな種族であったそうだ。この書生というのは時々我々を捕つかまえて煮にて食うという話である。しかしその当時は何という考もなかったから別段恐しいとも思わなかった。ただ彼の掌てのひらに載せられてスーと持ち上げられた時何だかフワフワした感じがあったばかりである。</div>
						<div class="comment-reaction">
							<i class="fas fa-reply rep-icon"> 33</i><a href="#" class="far fa-thumbs-up">300</a><a href="#" class="far fa-thumbs-down">50</a><a href="#" class="re-react-btn">返信する</a>

						</div>
					</div>
				</div>
				<div class="topic-comment-box clearfix">
					<div class="topic-comment-box-left">
						<h5 class="commenter-role">フリーター</h5>
						<p class="comment-number">5</p>
					</div>
					<div class="topic-comment-box-right">
						<h6 class="commenter-id">asdanj3813</h6>
						<p class="comment-time-ago">1h ago</p>
						<div class="commenter-comment">どこで生れたかとんと見当けんとうがつかぬ。何でも薄暗いじめじめした所でニャーニャー泣いていた事だけは記憶している。吾輩はここで始めて人間というものを見た。しかもあとで聞くとそれは書生という人間中で一番獰悪どうあくな種族であったそうだ。この書生というのは時々我々を捕つかまえて煮にて食うという話である。しかしその当時は何という考もなかったから別段恐しいとも思わなかった。ただ彼の掌てのひらに載せられてスーと持ち上げられた時何だかフワフワした感じがあったばかりである。</div>
						<div class="comment-reaction">
							<i class="fas fa-reply rep-icon"> 33</i><a href="#" class="far fa-thumbs-up">300</a><a href="#" class="far fa-thumbs-down">50</a><a href="#" class="re-react-btn">返信する</a>

						</div>
					</div>
				</div>
				<div class="topic-comment-box clearfix">
					<div class="topic-comment-box-left">
						<h5 class="commenter-role">フリーター</h5>
						<p class="comment-number">5</p>
					</div>
					<div class="topic-comment-box-right">
						<h6 class="commenter-id">asdanj3813</h6>
						<p class="comment-time-ago">1h ago</p>
						<div class="commenter-comment">どこで生れたかとんと見当けんとうがつかぬ。何でも薄暗いじめじめした所でニャーニャー泣いていた事だけは記憶している。吾輩はここで始めて人間というものを見た。しかもあとで聞くとそれは書生という人間中で一番獰悪どうあくな種族であったそうだ。この書生というのは時々我々を捕つかまえて煮にて食うという話である。しかしその当時は何という考もなかったから別段恐しいとも思わなかった。ただ彼の掌てのひらに載せられてスーと持ち上げられた時何だかフワフワした感じがあったばかりである。</div>
						<div class="comment-reaction">
							<i class="fas fa-reply rep-icon"> 33</i><a href="#" class="far fa-thumbs-up">300</a><a href="#" class="far fa-thumbs-down">50</a><a href="#" class="re-react-btn">返信する</a>

						</div>
					</div>
				</div>
				<div class="topic-comment-box clearfix">
					<div class="topic-comment-box-left">
						<h5 class="commenter-role">フリーター</h5>
						<p class="comment-number">5</p>
					</div>
					<div class="topic-comment-box-right">
						<h6 class="commenter-id">asdanj3813</h6>
						<p class="comment-time-ago">1h ago</p>
						<div class="commenter-comment">どこで生れたかとんと見当けんとうがつかぬ。何でも薄暗いじめじめした所でニャーニャー泣いていた事だけは記憶している。吾輩はここで始めて人間というものを見た。しかもあとで聞くとそれは書生という人間中で一番獰悪どうあくな種族であったそうだ。この書生というのは時々我々を捕つかまえて煮にて食うという話である。しかしその当時は何という考もなかったから別段恐しいとも思わなかった。ただ彼の掌てのひらに載せられてスーと持ち上げられた時何だかフワフワした感じがあったばかりである。</div>
						<div class="comment-reaction">
							<i class="fas fa-reply rep-icon"> 33</i><a href="#" class="far fa-thumbs-up">300</a><a href="#" class="far fa-thumbs-down">50</a><a href="#" class="re-react-btn">返信する</a>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="right-sidebar"></div>
</div>
<script src="/javascripts/skippr.min.js"></script>

