<%= form_for(@service, url:{controller: 'services', action:'create' }) do |form| %>
	<p>サービス名</p>
	<%= form.text_field :service_name %>
	<p>概要</p>
	<%= form.text_field :service_summary %>
	<p>画像</p>
	<%= form.attachment_field :service_image %>
	<p>会社</p>
	<%= form.text_field :service_campany %>
	<p>サービスページ</p>
	<%= form.text_field :related_link %>
	<p>カテゴリID</p>
	<%#= form_for @categories do |f| %>
  		<%= form.collection_select :category_id, Category.all, :id, :category_name %>
	<%#- end -%>
	<p>タグ</p>
	<%= form.text_field :tag_list %>
	<%= form.submit "送信"%>
<%	end %>