<div class="left-sidebar">
    <% if user_signed_in? %>
      <p class = "header_name"><%= current_user.status.status_name %></p>
    <% else %>
    <% end %>
    <table>
      <tr>
        <td>4</td><td>4</td>
      </tr>
      <tr>
        <th>いいね</th><th>コメント</th>
      </tr>
    </table>
    <hr>
  <div class = "new_messages">
    <% comments.each do |comment|%>
    <div class = "new_message">
      <p class = "new_message_status"><%= comment.user.status.status_name%></p>
      <p class = "new_message_time"><%= time_ago_in_words(comment.created_at)%> ago</p>
      <p class = "new_message_content"><%= truncate(comment.comment_content, length:50) %></p>
      <p class = "new_message_service-name"><%= comment.service.service_name %></p>
      <p class = "new_message_service-content"><%= truncate(comment.service.service_summary, length:15) %></p>
      <hr>
    </div>
    <% end %>
  </div>
</div>
